<ul class="user" style="list-style-type: none; display: flex">
    {% if request.user.is_authenticated %}
        <li style="margin-right: 10px">Welcome, {{ request.user.first_name }} {{ request.user.last_name }}!</li>
        {% if perms.shop.add_cart %}
            {% if sum_quantity %}
            <li style="margin-right: 10px">Your cart: <span>Summary to pay: {{ summary_price }} </span><a href="{% url 'shop-polls:checkout' %}">Go to pay</a></li>
            {% else %}
            <li style="margin-right: 10px">Your cart is empty.</li>
            {% endif %}
        {% else %}
            <li>You are not verified! Please make verification <a href="{% url 'users-polls:verify' %}">Here</a></li>
        {% endif %}
        <li><a href="{% url 'users-polls:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
{#        <li><a href="{% url 'account' %}"><i class="fa fa-user"></i> {% trans 'My Account' %}</a></li>#}
    {% else %}
        <li style="margin-right: 10px"><a href="{% url 'users-polls:login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
        <li><a href="{% url 'users-polls:register' %}"><i class="fa fa-user-o"></i>Register</a></li>
    {% endif %}
</ul>